@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Inter&family=Space+Grotesk&display=swap');
*{
   
    overflow-x: hidden;
}
.main {
    background: rgba(255, 241, 232, 1);
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    width: 100%;

}

.inner {
    width: 80px;
    height: 100%;
    background-color: #bb4d83;
    border-radius: 50%;
    filter: blur(10px);
    margin: 0 auto;
    transform: rotate(-180deg);
}

.outer {
    align-self: flex-end;
    width: 150px;
    height: 150px;
    background-color: #ec8e6a;
    border-radius: 50%;
    filter: blur(15px);
    transform: translateX(0px);
}

.inner1 {
    width: 80px;
    height: 100%;
    background-color: #bb4d83;
    border-radius: 50%;
    filter: blur(10px);
    margin: 0 auto;
    transform: rotate(-180deg);
}

.outer1 {
    width: 150px;
    height: 150px;
    background-color: #ec8e6a;
    border-radius: 50%;
    filter: blur(15px);
    transform: translateX(-20px);
    align-self: flex-start;
}

.reviews__leftAccent {
    align-self: flex-end;
    width: 415px;
    height: 416px;
    top: 661px;
    left: 0;
    transform: rotate(-88.35 deg);
    position: absolute;

}

.reviews__rightAccent {
    width: 415px;
    height: 416px;
    top: 69px;
    left: 1769px;
    rotate: -88.35 deg;
    position: absolute;

    align-self: flex-start;

}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.reviews__header {
    padding: 20px 0;
}

.reviews__header h1 {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    color: #111111;
}

.reviews__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.review__card {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid #111111;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 10px;
}

.review__cardRating img {
    margin: 0 2px;
}

.review__cardComment {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;


}

.review__cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 177px;
    height: 49px;
}

.review__cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 149px;
    height: 100%;
    margin-left: 10px;
}

.review__cardImage img {
    width: 43px;
    height: 43px;
    object-fit: contain;
}

.review__cardName {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
    width: 149px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    color: #111111;

}

.review__cardPosition {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    letter-spacing: 0px;
    text-align: left;
    color: #111111;
    opacity: 0.7;

}

/* ==================================================MOBILE VIEW ======================================================= */



@media screen and (max-width:600px) {
    .review__card {
        width: 80%
    }

    .reviews {
        padding: 10px;
    }

}